/* ── Vista: Home ── */

.pageHome .sapFDynamicPageTitle {
  background-color: #99ccc0;
  border-bottom: 3px solid #006B54;
}

.pageHome .sapFDynamicPageContent {
  background-color: #e0f0ec !important;
}
