/* ── Vista: PosList ── */

.pagePosList .sapFDynamicPageTitle {
  background-color: #90C4D4;
  border-bottom: 3px solid #00617A;
}

.pagePosList .sapFDynamicPageContent {
  background-color: #dceef5 !important;
}

