/* ── Vista: Pos (form/dettaglio) ── */

.pagePos .sapFDynamicPageTitle {
  background-color: #80C4C4;
  border-bottom: 3px solid #008080;
}

.pagePos .sapFDynamicPageContent {
  background-color: #daf0f0 !important;
}

.pagePos .sapMPageEnableScrolling {
  background-color: #daf0f0 !important;
}

