/* ── Vista: Pos (form/dettaglio) ── */

.pagePos .sapFDynamicPageTitle {
  background-color: #80C4C4;
  border-bottom: 3px solid #008080;
}

.pagePos .sapFDynamicPageContent {
  background-color: #daf0f0 !important;
}

.pagePos .sapMPageEnableScrolling {
  background-color: #daf0f0 !important;
}

/* Pulsante "Salva" nel footer del form Pos */
.pagePos .sapMIBar .sapMBtnEmphasized,
.pagePos .sapMIBar .sapMBtnEmphasized:hover {
  background-color: #008080 !important;
  border-color: #005959 !important;
  color: #ffffff !important;
}

.pagePos .sapMIBar .sapMBtnEmphasized:hover {
  background-color: #005959 !important;
}

.pagePos .sapMIBar .sapMBtnEmphasized .sapMBtnIcon,
.pagePos .sapMIBar .sapMBtnEmphasized .sapMBtnText {
  color: #ffffff !important;
}
