@import "./tokens.css";
@import "./components.css";
@import "./table.css";
@import "./home.css";
@import "./pos-list.css";
@import "./pos.css";

/* Sposta il badge dei pulsanti in alto a destra */
.sapMBadge .sapMBadgeIndicator {
  position: absolute !important;
  top: -8px !important;
  right: -8px !important;
  bottom: auto !important;
  left: auto !important;
}

.skillsPanel {
  margin: 0 !important;
  padding: 8px !important;
}

.skillDatesRow {
  padding-left: 1rem;
}

/* XL (schermi grandi) */
@media (min-width: 1200px) {
  .vertical-layout-responsive {
    width: calc(25% - 8px);
  }
}

/* L (medi-grandi) */
@media (min-width: 992px) and (max-width: 1199px), (min-width: 768px) and (max-width: 991px) {
  .vertical-layout-responsive {
    width: calc(50% - 8px);
  }
}

/* S (smartphone) */
@media (max-width: 767px) {
  .vertical-layout-responsive {
    width: calc(100% - 8px);
  }
}

.p-0 {
  padding: 0% !important;
}

.w-100 {
  width: 100% !important;
}

.m-label-hbox {
  margin-top: 1px;
  margin-right: 4px;
}

/* .sapFFCL > .sapFFCLColumnActive.sapFFCLColumnFirstActive {
  width: 60% !important;
} */
